<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.abigballofmud.flink.platform.infra.mapper.SqlJobMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.abigballofmud.flink.platform.domain.entity.SqlJob">
        <result column="job_id" property="jobId" jdbcType="DECIMAL"/>
        <result column="job_code" property="jobCode" jdbcType="VARCHAR"/>
        <result column="cluster_code" property="clusterCode" jdbcType="VARCHAR"/>
        <result column="sql_upload_path" property="sqlUploadPath" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="savepoint_path" property="savepointPath" jdbcType="VARCHAR"/>
        <result column="setting_info" property="settingInfo" jdbcType="VARCHAR"/>
        <result column="flink_job_id" property="flinkJobId" jdbcType="VARCHAR"/>
        <result column="job_status" property="jobStatus" jdbcType="VARCHAR"/>
        <result column="errors" property="errors" jdbcType="VARCHAR"/>
        <result column="tenant_id" property="tenantId" jdbcType="DECIMAL"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="DTOResultMap" type="org.abigballofmud.flink.platform.api.dto.SqlJobDTO" extends="BaseResultMap">
        <association property="execJarInfo"
                     resultMap="com.github.codingdebugallday.client.infra.mapper.UploadJarMapper.BaseJarCommonResultMap"/>
    </resultMap>

    <sql id="Base_Column_List">
        ${prefix}.job_id,
        ${prefix}.job_code,
        ${prefix}.cluster_code,
        ${prefix}.sql_upload_path,
        ${prefix}.content,
        ${prefix}.setting_info,
        ${prefix}.job_status,
        ${prefix}.errors,
        ${prefix}.flink_job_id,
        ${prefix}.exec_jar_id,
        ${prefix}.savepoint_path,
        ${prefix}.tenant_id,
        ${prefix}.object_version_number,
        ${prefix}.creation_date,
        ${prefix}.created_by,
        ${prefix}.last_updated_by,
        ${prefix}.last_update_date
    </sql>

    <sql id="Base_Where_Criteria">
        <if test="dto.jobCode != null and dto.jobCode != ''">
            <bind name="jobCodeLike" value='"%"+dto.jobCode+"%"'/>
            AND ${prefix}.job_code like #{jobCodeLike}
        </if>
        <if test="dto.clusterCode != null and dto.clusterCode != ''">
            <bind name="clusterCodeLike" value='"%"+dto.clusterCode+"%"'/>
            AND ${prefix}.cluster_code like #{clusterCodeLike}
        </if>
        <if test="dto.jobStatus != null and dto.jobStatus != '' ">
            AND ${prefix}.job_status = #{dto.jobStatus}
        </if>
        <if test="dto.flinkJobId != null and dto.flinkJobId != '' ">
            AND ${prefix}.flink_job_id = #{dto.flinkJobId}
        </if>
        <if test="dto.tenantId != null">
            AND ${prefix}.tenant_id in (0, #{dto.tenantId})
        </if>
    </sql>

    <sql id="Base_Jar_Where_Criteria">
        <if test="dto.execJarId != null">
            AND ${prefix}.upload_jar_id = #{dto.execJarId}
        </if>
        <if test="dto.execJarInfo != null">
            <if test="dto.execJarInfo.systemProvided != null">
                AND ${prefix}.system_provided = #{dto.execJarInfo.systemProvided}
            </if>
            <if test="dto.execJarInfo.jarName != null and dto.execJarInfo.jarName != ''">
                <bind name="jarNameLike" value='"%"+dto.execJarInfo.jarName+"%"'/>
                AND ${prefix}.jar_name like #{jarNameLike}
            </if>
            <if test="dto.execJarInfo.jarDesc != null and dto.execJarInfo.jarDesc != ''">
                <bind name="jarDescLike" value='"%"+dto.execJarInfo.jarDesc+"%"'/>
                AND ${prefix}.jar_desc like #{jarDescLike}
            </if>
            <if test="dto.execJarInfo.jarCode != null and dto.execJarInfo.jarCode != ''">
                <bind name="jarCodeLike" value='"%"+dto.execJarInfo.jarCode+"%"'/>
                AND ${prefix}.jar_code like #{jarCodeLike}
            </if>
            <if test="dto.execJarInfo.filename != null and dto.execJarInfo.filename != ''">
                <bind name="filenameLike" value='"%"+dto.execJarInfo.filename+"%"'/>
                AND ${prefix}.filename like #{filenameLike}
            </if>
            <if test="dto.execJarInfo.status != null and dto.execJarInfo.status != ''">
                <bind name="statusLike" value='"%"+dto.execJarInfo.status+"%"'/>
                AND ${prefix}.status like #{statusLike}
            </if>
        </if>
    </sql>

    <select id="list" resultMap="DTOResultMap">
        SELECT
        <include refid="Base_Column_List">
            <property name="prefix" value="job"/>
        </include>
        ,
        <include refid="com.github.codingdebugallday.client.infra.mapper.UploadJarMapper.Base_Jar_Common_Column_List">
            <property name="prefix" value="jar"/>
        </include>
        FROM
        flink_sql_job job
        LEFT JOIN flink_upload_jar jar ON job.exec_jar_id = jar.upload_jar_id
        and job.tenant_id = jar.tenant_id
        <where>
            2 > 1
            <include refid="Base_Where_Criteria">
                <property name="prefix" value="job"/>
            </include>
            <include refid="Base_Jar_Where_Criteria">
                <property name="prefix" value="jar"/>
            </include>
        </where>
    </select>

</mapper>